<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Wusng Peng</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "關於我們",   about_path %></li>
      <li><%= link_to "連絡方式", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">新聞</a></li>
    </ul>
  </nav>
</footer>